<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Ajax</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container">

        <div class="row">
            <div class="col-md-4">
                <form @submit.prevent="submitMember()">
                    <p v-if="errors.length">
                        <b>Please correct the following errors : </b>
                        <ul>
                            <li v-for="error in errors">
                                {{ error }}
                            </li>
                        </ul>
                    </p>
                    <div class="form-group">
                        <label for="name">Nama</label>
                        <input :disabled="disabledField===true" type="text" class="form-control" id="name"
                            aria-describedby="name" placeholder="nama" v-model="name">
                    </div>
                    <div class="form-group">
                        <label for="no_hp">No HP</label>
                        <input :disabled="disabledField===true" type="text" class="form-control" id="no_hp"
                            aria-describedby="no_hp" placeholder="no hp" v-model="no_hp">
                    </div>
                    <div class="form-group">
                        <label for="address">Alamat</label>
                        <textarea :disabled="disabledField===true" class="form-control" id="address" rows="3"
                            v-model="address"></textarea>
                    </div>

                    <div v-if="buttonStatus === 'tambah'">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                    <div v-else-if="buttonStatus === 'update'">
                        <button @click="updateMember(idEditMember)" type="button"
                            class="btn btn-warning">Update</button>
                        <button @click="clearForm" class="btn btn-primary">Clear</button>
                    </div>

                    <div v-else-if="buttonStatus === 'upload'">
                        <label for="photo">Foto Profil</label>
                        <input type="file" class="form-control" name="photo" ref="photo">
                        <button @click="submitPhoto(idUploadMember)" type="button" class="btn btn-info">Upload</button>
                        <button @click.prevent="clearForm" class="btn btn-primary">Clear</button>
                    </div>

                    <div v-else-if="buttonStatus === 'detail'">
                        <div class="form-group">
                            <label for="created_at">Tanggal Pembuatan</label>
                            <input :disabled="disabledField===true" type="text" class="form-control" id="created_at"
                                aria-describedby="created_at" placeholder="created_at" v-model="created_at">
                        </div>
                        <div class="form-group">
                            <label for="updated_at">Tanggal Terakhir Update</label>
                            <input :disabled="disabledField===true" type="text" class="form-control" id="updated_at"
                                aria-describedby="updated_at" placeholder="updated_at" v-model="updated_at">
                        </div>
                        <div>
                            <label for="photo">Foto Profil</label>
                            <br>
                            <img :src="photo_profile ? domain+photo_profile : 'https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg'"
                                width="200">
                        </div>
                        <button @click.prevent="clearForm" class="btn btn-primary">close</button>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nama</th>
                            <th>No Hp</th>
                            <th>Alamat</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="member of members">
                            <td><img :src="member.photo_profile ? domain+member.photo_profile : 'https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg'"
                                    width="100"></td>
                            <td>{{ member.name }}</td>
                            <td>{{ member.no_hp }}</td>
                            <td>{{ member.address }}</td>
                            <td>
                                <a @click="detailMember(member.id)" class="btn btn-primary">Detail</a>
                                <a @click="editMember(member)" class="btn btn-warning">Edit</a>
                                <a @click="removeMember(member.id)" class="btn btn-danger">Remove</a>
                                <a @click="uploadPhoto(member)" class="btn btn-info">Upload</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                members: [],
                domain: 'http://demo-api-vue.sanbercloud.com',
                name: '',
                no_hp: '',
                address: '',
                photo_profile: '',
                created_at: '',
                updated_at: '',
                errors: [],
                idEditMember: null,
                buttonStatus: 'tambah',
                disabledField: false
            },
            methods: {
                validationForm: function () {
                    this.errors = []

                    if (this.name === '') {
                        this.errors.push("nama tidak boleh kosong")
                    }
                    if (this.no_hp === '') {
                        this.errors.push("No HP tidak boleh kosong")
                    }
                    if (this.address === '') {
                        this.errors.push("address tidak boleh kosong")
                    }
                },
                getMember: function () {
                    const config = {
                        method: 'get',
                        url: `${this.domain}/api/member`
                    }
                    axios(config)
                        .then((response) => {
                            this.members = response.data.members
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },
                clearForm: function () {
                    this.name = ''
                    this.no_hp = ''
                    this.address = ''
                    this.photo_profile = ''
                    this.created_at = ''
                    this.updated_at = ''
                    this.buttonStatus = 'tambah'
                    this.idEditMember = null
                    this.idUploadMember = null
                    this.disabledField = false
                },
                submitMember: function () {
                    this.validationForm();
                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('no_hp', this.no_hp)
                    formData.append('address', this.address)

                    if (this.errors.length === 0) {
                        const config = {
                            method: 'post',
                            url: `${this.domain}/api/member`,
                            data: formData
                        }
                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMember()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    }
                },
                editMember: function (member) {
                    this.name = member.name;
                    this.no_hp = member.no_hp;
                    this.address = member.address;
                    this.buttonStatus = 'update';
                    this.idEditMember = member.id;
                },
                updateMember: function (id) {
                    this.validationForm();
                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('no_hp', this.no_hp)
                        formData.append('address', this.address)

                        const config = {
                            method: 'post',
                            url: `${this.domain}/api/member/${id}`,
                            params: {
                                _method: "PUT"
                            },
                            data: formData,
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMember()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    }
                },
                removeMember: function (id) {
                    const config = {
                        method: 'post',
                        url: `${this.domain}/api/member/${id}`,
                        params: {
                            _method: "DELETE"
                        }
                    }

                    axios(config)
                        .then((response) => {
                            this.clearForm()
                            this.getMember()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },
                uploadPhoto: function (member) {
                    this.name = member.name;
                    this.no_hp = member.no_hp;
                    this.address = member.address;
                    this.buttonStatus = 'upload';
                    this.idUploadMember = member.id;
                    this.disabledField = true
                },
                submitPhoto: function (id) {
                    let file = this.$refs.photo.files[0]
                    let formData = new FormData();
                    formData.append('photo_profile', file)
                    const config = {
                        method: 'post',
                        url: `${this.domain}/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }
                    axios(config)
                        .then((response) => {
                            this.getMember()
                            this.clearForm()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },
                detailMember: function (id) {
                    const config = {
                        method: 'get',
                        url: `${this.domain}/api/member/${id}`
                    }
                    axios(config)
                        .then((response) => {
                            var member = response.data.member
                            this.name = member.name
                            this.no_hp = member.no_hp
                            this.address = member.address
                            this.photo_profile = member.photo_profile
                            this.created_at = member.created_at
                            this.updated_at = member.updated_at
                            this.buttonStatus = 'detail'
                            this.disabledField = true
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                }
            },
            created() {
                this.getMember();
            }
        })
    </script>
</body>

</html>