<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form @submit.prevent="addNewList" v-if="id===''">
            <input type="text" placeholder="nama lengkap" v-model="name">
            <button type="submit">Add</button>
        </form>
        <form @submit.prevent="updateList" v-else>
            <input type="text" placeholder="nama lengkap" v-model="name">
            <button type="submit">Update</button>
        </form>
        <ul v-for="(item, index) in lists">
            <li>
                {{ item.name }}
                <button @click="editList(index)">Edit</button>
                <button @click="removeList(index)">Hapus</button>
            </li>

        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                lists: [{
                        id: 1,
                        name: 'Aghniya Ni\'amillah Nurhilman',
                    },
                    {
                        id: 2,
                        name: 'Rezky Putra Akkif',
                    },
                    {
                        id: 3,
                        name: 'Sanbercode'
                    }
                ],
                nextListId: 4
            },
            methods: {
                addNewList: function () {
                    this.lists.push({
                        id: this.nextListId++,
                        name: this.name
                    })
                    this.name = ''
                },
                removeList: function (index) {
                    this.lists.splice(index, 1)
                },
                editList: function (index) {
                    this.id = this.lists[index].id
                    this.name = this.lists[index].name
                },
                updateList: function () {
                    this.lists.splice(this.lists.findIndex(list => list.id === this.id), 1, {
                        id: this.id,
                        name: this.name
                    })
                    this.id = ''
                    this.name = ''
                }
            }
        })
    </script>
</body>
</html>