<template>
    <v-img :src="blog.image ?? default_image_blog" height="250px" class="white--text">
        <v-container class="fill-height fluid pa-0 ma-0">
            <v-layout fill-height align-end>
                <v-flex xs12 mx-2>
                    <span class="headline gray--text" v-text="blog.title"></span>
                </v-flex>
            </v-layout>
        </v-container>
    </v-img>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
    name: "blog-item",
    props: ["blog"],
    computed: {
        progress() {
            return this.blog.required ? (this.blog.collected / this.blog.required) * 100 : 0;
        },
        ...mapGetters({
            default_image_blog: "defaultImage/blog_image"
        })
    },
};
</script>
