<template>
    <v-card :to="'/campaign/' + campaign.id" xs6>
        <v-img :src="campaign.image ?? default_image_campaign" class="black--text" height="250px">
            <v-card-title class="fill-height align-end" v-text="campaign.title">
            </v-card-title>
        </v-img>
        <v-card-actions>
            <v-progress-linear v-model="progress" color="blue-grey" height="7">
            </v-progress-linear>
        </v-card-actions>
        <v-card-actions>
            <v-icon>mdi-cash</v-icon>
            <span v-if="campaign.required">Rp {{ campaign.required.toLocaleString("id-ID") }}</span>
            <span v-else>Rp 0</span>
            <v-spacer></v-spacer>
            <span>{{ progress }} %</span>
        </v-card-actions>
    </v-card>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: "campaign-item",
    props: ["campaign"],
    computed: {
        progress() {
            return this.campaign.required ? (this.campaign.collected / this.campaign.required) * 100 : 0;
        },
        ...mapGetters({
            default_image_campaign: "defaultImage/campaign_image"
        })
    },
};
</script>
