<template>
    <div>
        <v-container class="m-auto p-auto" grid-list-sm>
            <v-subheader> All Campaigns </v-subheader>
            <v-row>
                <v-col v-for="(campaign, index) in campaigns" :key="`campaign-` + campaign.id" cols="12" sm="6">
                    <campaign-item :campaign="campaign" />
                </v-col>
            </v-row>
            <v-pagination v-model="page" @input="go" :length="lengthPage" :total-visible="6">
            </v-pagination>
        </v-container>
    </div>
</template>

<script type="module">
export default {
  data: () => ({
    campaigns: [],
    page: 0,
    lengthPage: 0,
  }),
  created() {
    this.go();
  },
  components: {
    CampaignItem: () => import("../components/CampaignComponent.vue"),
  },
  methods: {
    go() {
      let url = "/api/campaign?page=" + this.page;
      axios
        .get(url)
        .then((response) => {
          let { data } = response.data;
          this.campaigns = data.campaigns.data;
          this.page = data.campaigns.current_page;
          this.lengthPage = data.campaigns.last_page;
        })
        .catch((error) => {
          let { response } = error;
          console.log(response);
        });
    },
  },
};
</script>
