<template>
  <div>
    <v-container class="m-auto p-auto" grid-list-sm>
      <div class="text-right">
        <v-btn small text to="/campaigns" class="blue--text">
          All Campaigns <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </div>
      <v-row>
        <v-col
        v-for="(campaign, index) in campaigns" :key="`campaign-` + campaign.id"
          cols="12"
          sm="6"
        >
            <campaign-item :campaign="campaign" />

        </v-col>
      </v-row>
    </v-container>
    <v-container class="m-auto p-auto" grid-list-sm>
      <div class="text-right">
        <v-btn small text to="/blogs" class="blue--text">
          All blogs <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </div>
      <v-layout wrap>
        <v-carousel hide-delimiter height="250px">
          <v-carousel-item
            v-for="(blog, index) in blogs"
            :key="`blog-` + blog.id"
          >
          <blog-item :blog="blog" />

          </v-carousel-item>
        </v-carousel>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    campaigns: [],
    blogs: [],
  }),

  components: {
    CampaignItem: () => import("../components/CampaignComponent.vue"),
    BlogItem: () => import("../components/BlogComponent.vue"),
  },
  created() {
    axios
      .get("/api/campaign/random/2")
      .then((response) => {
        let { data } = response.data;
        this.campaigns = data.campaigns;
      })
      .catch((error) => {
        let { response } = error;
        console.log(response);
      });
    axios
      .get("/api/blog/random/2")
      .then((response) => {
        let { data } = response.data;
        this.blogs = data.blogs;
      })
      .catch((error) => {
        let { response } = error;
        console.log(response);
      });
  }
};
</script>
